.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 144px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #50c3ff;
    font-family: Arial, sans-serif;
    z-index: 999;
}

img {
    float: left;
    top: 0px;
}

.navbar .home {
    float: left;
    top: 52.1%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 55px 30px;
}

.navbar .about {
    float: left;
    top: 52.1%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 55px 30px;
}

.navbar .groups {
    float: left;
    top: 52.1%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 55px 30px;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin-right: 7px;
}

.dropdown .dropbtn {
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    padding: 55px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropdown-content .login {
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 15px;
    color: black;
}

.error {
    color: red;
}

.navbar .home:hover, .surveys:hover, .groups:hover, .about:hover, .dropdown:hover .dropbtn {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}

.navbar .dropdown:hover .dropbtn {
    background-color: #ffb83b;
}

.navbar .home:hover {
    background-color: #ffb83b;
}

.navbar .surveys:hover {
    background-color: #ffb83b;
}

.navbar .groups:hover {
    background-color: #ffb83b;
}

.navbar .about:hover {
    background-color: #ffb83b;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #c4ebff;
    color: black;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

input[type=email], input[type=password] {
    padding: 15px;
    margin-bottom: 5px;
    width: 85%;
}

.dropdown-content a {
    float: none;
    color: black;
    display: block;
    text-align: left;
}

.dropdown .dropdown-content .create {
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
    width: 100%;
    margin-top: 5px;
    color: black;
}

.dropdown:hover .dropdown-content {
    /*-webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;*/
    display: block;
}