.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 144px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #50c3ff;
    font-family: Arial, sans-serif;
    z-index: 999;
}

img {
    float: left;
    top: 0px;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin-right: 7px;
}

.dropdown .dropbtn {
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    padding: 55px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropdown-content .login {
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 15px;
    color: black;
}

.error {
    color: red;
}

.navbar .dropdown:hover .dropbtn {
    background-color: #ffb83b;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #c4ebff;
    color: black;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    overflow: hidden;
    transition-delay: 10s;
    transition-duration: 2s;
}

input[type=email], input[type=password] {
    padding: 15px;
    margin-bottom: 5px;
    width: 85%;
}

.dropdown-content a {
    float: none;
    color: black;
    display: block;
    text-align: left;
}

.dropdown .dropdown-content .create {
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
    width: 100%;
    margin-top: 5px;
    color: black;
}

.dropdown:hover .dropdown-content {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    display: block;
}

/*<div class="dropdown">
        <button class="dropbtn"><b>Log In</b>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <form [formGroup]="loginForm">
                <input type="email" formControlName="email" class="form-control" name="username"
                       placeholder="email@email.com">
                <input type="password" name="password" formControlName="password" clas="form-control"
                       placeholder="password">
            </form>
            <label class="error">{{errorMessage}}</label>
            <button class="login" type="submit" (click)="tryLogin(loginForm.value)">Log In</button>
            <br>
            No account yet?
            <!-- ask about register on button click -->
            <a href="/register">
                <button class="create" type="submit" href="/register">Create an account</button>
            </a>
        </div>
    </div>

<nav>
    <ul id="mainnav">
        <li><a href="#">a thing</a></li>
        <li><a href="#">some stuff</a>
            <ul>
                <li><a href="###">dropdown1</a></li>
                <li><a href="###">dropdown2</a></li>
            </ul>
        </li>           
    </ul>
</nav>

#mainnav li{
    background: #eee; 
}
#mainnav li ul li{
    background: none; 
}
#mainnav li:hover{
   background: yellow;
}
#mainnav li:hover ul{
    height: 100px;
    transition-delay: 0s;
     transition-duration: 1s;
}
#mainnav li ul{
    overflow: hidden;
    height: 0px;
    transition-delay: 10s;
    transition-duration: 2s;
}*/