<!-- <div class="topnav">
  <a class="active" href="#home" routerLink="/landing-page">HealthItForward</a>
  <div class="topnav-right">
    <a href="#login" routerLink="/login">Login</a>
    <a href="#register" routerLink="/register">Register</a>
  </div>
</div> -->

<div class="navbar">
  <div class="img">
    <a href="/dashboard"><img src="http://i1016.photobucket.com/albums/af284/MarxSoul/logo_zpskbowgmkb.png" alt=""></a>
  </div>
  <div class="text">
    <div class="home">
      <a href="/dashboard" style="text-decoration: none;color: white;"><b>Home</b></a>
    </div>
    <div class="groups">
      <a href="/groups-page" style="text-decoration: none;color: white;"><b>Groups</b></a>
    </div>
    <div class="about">
      <a href="/dashboard" style="text-decoration: none;color: white;"><b>About</b></a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn"><b>Log In</b>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <form [formGroup]="loginForm">
        <input type="email" formControlName="email" class="form-control" name="username" placeholder="email@email.com">
        <input type="password" name="password" formControlName="password" clas="form-control" placeholder="password">
      </form>
      <label class="error">{{errorMessage}}</label>
      <button class="login" type="submit" (click)="tryLogin(loginForm.value)">Log In</button>
      <br>
      No account yet? 
      <!-- ask about register on button click -->
      <a href="/register"><button class="create" type="submit" href="/register">Create an account</button></a>
    </div>
  </div> 
</div>
<br><br><br><br><br><br>
