.row {
  margin-top: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* Add a black background color to the top navigation */
.top-logo {
    background-color: #EEE;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.top-logo a {
    float: left;
    color: #607D8B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.top-logo a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.top-logo a.active {
    background-color: #607D8B;
    color: white;
}
