<div class="content">
    <hif-pre-navbar></hif-pre-navbar>
    <body>
    <table>
        <tr>
            <td>
                <div class="video">
                    <iframe width="560" height="315" align="left"
                            src="https://www.youtube.com/embed/2feEQSsHuWY"></iframe>
                </div>
            </td>
            <td valign="center">
                <div class="text">
                    <div class="header">
                        <b>About Us</b>
                    </div>
                    <div class="subtext">
                        HealthItForward was inspired by a patient who survived her illness despite her unfavorable
                        medical prognosis. While such patients are considered medical outliers, this forum aims to
                        collect data from these and all patients in order to better understand, treat and ultimately
                        discover cures through this aggregated data. In this manner, the main goal of HealthItForward is
                        to connect patients, caregivers, researchers, and other experts through a network where they can
                        safely share information on both alternative and allopathic medical treatments.
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="subtext">
        <label>Disclaimer: All of the material provided on the Site, such as text, treatments, dosages, outcomes,
            charts, patient profiles, graphics, photographs, images, advice, messages, forum postings, and any other
            material provided on the Site are for informational purposes only and are not a substitute for professional
            medical advice or treatment. Always seek the advice of your physician or other qualified health provider
            with any questions you may have regarding your health. Never disregard professional medical advice or delay
            in seeking it because of something you have read on this Site. If you think you may have a medical
            emergency, call your doctor or 911 immediately. HealthItForward does not recommend or endorse any specific
            tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Site.
            Reliance on any information provided by HealthItForward, by persons appearing on the Site at the invitation
            of HealthItForward, or by other members is solely at your own risk.</label>
    </div>
    </body>
</div>
