<div class="navbar">
    <div class="img">
        <a href="/dashboard"><img src="../../assets/images/logo.PNG" alt=""></a>
    </div>
    <div class="text">
        <button class="home" onclick="location.href='/dashboard'">Home</button>
        <button class="groups" onclick="location.href='/groups-page'">Groups</button>
        <button class="surveys" onclick="location.href='/surveys'">Surveys</button>
        <button class="profile" onclick="location.href='/profile'">Profile</button>
    </div>
    <div class="logout">
        <button type="submit" (click)="logout()" class="logout-button"><b>Log Out</b></button>
    </div>
</div>
<br><br><br><br><br><br>
