.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 144px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #50c3ff;
    font-family: Arial, sans-serif;
    z-index: 999;
    display: inline-block;
}

.logo {
    float: left;
    top: 0px;
    height: 144px;
}

.navbar .navButton {
    float: left;

    /*top: 52.1%;*/
    height: 144px;
    width: 15%;
    font-size: 30px;
    color: white;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    padding: 3% 3%;
    border: 3px solid transparent;
    background-color: #50c3ff;
}

.navbar #logout-button {
    float: right;
}

.navbar #home:hover, #surveys:hover, #groups:hover, #about:hover, #profile:hover, #logout-button {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}

.navbar #logout-button:hover {
    background-color: #ffb83b;
}

.navbar #home:hover {
    background-color: #ffb83b;
}

.navbar #surveys:hover {
    background-color: #ffb83b;
}

.navbar #groups:hover {
    background-color: #ffb83b;
}

.navbar #profile:hover {
    background-color: #ffb83b;
}
