.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 144px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #50c3ff;
    font-family: Arial, sans-serif;
    z-index: 999;
}

img {
    float: left;
    top: 0px;
}

.navbar .home {
    float: left;
    top: 52.1%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 52px 27px;
    border: 3px solid transparent;
}

.navbar .profile {
    float: left;
    top: 52.1%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 52px 27px;
    border: 3px solid transparent;
}

.navbar .surveys {
    float: left;
    top: 52.1%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 52px 27px;
    border: 3px solid transparent;
}

.navbar .groups {
    float: left;
    top: 52.1%;
    left: 30%;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 52px 27px;
    border: 3px solid transparent;
}

.navbar .logout-button {
    position: fixed;
    float: right;
    left: 86%;
    height: 144px;
    border: 3px;
    padding: 53px 27px;
    background-color: #50c3ff;
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: white;
    z-index: 999;
}

.navbar .home:hover, .surveys:hover, .groups:hover, .about:hover, .logout:hover .logout-button {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}

.navbar .logout:hover .logout-button {
    background-color: #ffb83b;
}

.navbar .home:hover {
    background-color: #ffb83b;
}

.navbar .surveys:hover {
    background-color: #ffb83b;
}

.navbar .groups:hover {
    background-color: #ffb83b;
}

.navbar .profile:hover {
    background-color: #ffb83b;
}
