<div class="content">
    <div class="section">
        <h2>Groups</h2>
        <button class="button" (click)="sortByPopular()">Popular</button>
        <button class="button" (click)="sortByAlphabetical()">Alphabetical</button>
        <button class="button" (click)="sortByDefault()">Old to New</button>
    </div>
    <div class="section">
        <ul class="content-list">
            <li *ngFor="let group of groups | async"
                [class.selected]="group === selectedGroup"
                (click)="onSelect(group)">
                    <span class="badge"></span>
                    <span class="spanTitle">{{group.groupName}}</span>
                    <span class="spanBody">{{group.groupDescription}}</span>
            </li>
        </ul>
    </div>
    <div class="section">
        <h2>Create a Group</h2>
        <input type="text" #groupTitle class="form-control" placeholder="Group Title">
        <button type="submit"
                (click)="createGroup(groupTitle.value); groupTitle.value='';"
                class="subButton">Create Group
        </button>
    </div>
</div>
<div>
    <hif-vertical-navbar></hif-vertical-navbar>
</div>
