.group-div {
    padding: 0px 10px 10px 10px;
    width: 85%;
    float: left;
    margin-right: 10px
}

.button {
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
    width: 15%;
    margin-bottom: 15px;
    color: white;
    background-color: #1c73a1;
    text-decoration: none;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=text] {
    padding: 11px 11px 11px 11px;
    width: 13%;
}

.subButton {
    font-size: 20px;
    font-family: inherit;
    padding: 9.75px;
    width: 15%;
    margin-bottom: 15px;
    color: white;
    background-color: #1c73a1;
    text-decoration: none;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    vertical-align: top;
}

.button:hover, .subButton:hover {
    background-color: #ffb83b;
}

.p-group-button {
    width: 100px;
    height: 100px;
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.title-input {
    display: block;
    width: 20%;
}

.create-button {
    color: #336699;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
    margin-top: 7px;
}

.groups {
    margin: 150px 0px 0px 0px;
    list-style-type: none;
    padding: 0px;
}

.groups li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #c4ebff;
    margin: .5em;
    padding: .3em 0;
    height: 5em;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    width: 85%;
}

.groups li.selected:hover {
    background-color: #585858 !important;
    color: white;
}

.groups li.selected:hover {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.groups li:hover {
    color: black;
    background-color: #ffd791;
}

.groups li:hover {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.groups .text {
    margin-top: -100px;
}

.groups .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.85em 0.7em 0 0.7em;
    background-color: #1c73a1;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4.8px;
    height: 6.05em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.filter-div {
    display: inline;
}
