.group-div {
  border:1px solid black;
  padding: 0px 10px 10px 10px;
  width: 85%;
  float: left;
  margin-right: 10px
}

.p-group-button {
  width: 100px;
  height: 100px;
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.new-group {
  margin-top: 250px;
}

.title-input {
  display: block;
  width: 20%;
}

.create-button {
  color: #336699;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: left;
  margin-top: 7px;
}

.groups li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.groups li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.groups li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.groups .text {
    position: relative;
    top: -3px;
}
.groups .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.filter-div {
  display: inline;
}
