<div>
  <hif-navbar></hif-navbar>
</div>
<div>
  <hif-vertical-navbar></hif-vertical-navbar>
</div>
<div>
  <h2>User Groups</h2>
</div>
<div class="group-div">
  <h2>Recently Joined Groups</h2>
  <div>
    <button class="p-group-button" routerLink="/group-page">Parkinson's Patient
      Group</button>
    <button class="p-group-button">Atlanta Support Group</button>
  </div>
</div>
<div class="new-group">
  <label> Group Title:
    <input class="title-input">
  </label>
  <div>
    <button class="create-button">Create Group</button>
  </div>
</div>
