.row {
    margin-top: 10px;
    left: 10px;
}

.error {
    color: red;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
}

/* Overwrite default styles of hr */
form-group {
    border: 1px solid white;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.login-button {
    background-color: #1c73a1;
    color: white;
    font-size: 20px;
    font-family: inherit;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.login-button:hover {
    opacity: 1;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

button {
    font-family: cambria;
    font-size: 1em;
}

label {
    font: normal 16px arial !important;
    color: black;
}

input, label {
    display: block;
}
