/* Application-wide Styles */
h1 {
  color: #1c73a1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: bold;
}
h2, h3 {
  color: #1c73a1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  /*font-family: Cambria, Georgia;*/
    font-family: Arial, Helvetica, sans-serif;
}


/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
    position: relative;
    top: 144px;
}

.section {
    padding: 0px 10px 10px 10px;
    width: 85%;
    float: left;
    margin-right: 10px;
}

.content-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
}

.content-list .text {
    position: relative;
    top: -3px;
}

.content-list li.selected:hover {
    background-color: #585858 !important;
    color: white;
}

.content-list li.selected:hover {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.content-list li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #c4ebff;
    margin: .5em;
    padding: .3em 0;
    height: 5em;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    width: 95%;
}

.content-list li:hover {
    color: black;
    background-color: #ffd791;
}

.content-list li:hover {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.content-list .spanTitle {
    margin-left: 10px;
    /*line-height: 50%;*/
    position: relative;
    bottom: 70px;
}

.content-list .spanBody {
    margin-left: 100px;
    /*line-height: 50%;*/
    position: relative;
    bottom: 50px;
    font-weight: lighter;
    font-size: smaller;
    display: block;
    /*left: 25px;*/
}


.content-list .badge {
    display: inline-flex;
    font-size: small;
    color: white;
    padding: 0.85em 0.7em 0 0.7em;
    background-color: #1c73a1;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4.8px;
    height: 6.05em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.submit-button:hover {
    opacity: 1;
}

.submit-button {
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
    width: 15%;
    margin-top: 15px;
    color: white;
    background-color: #1c73a1;
    text-decoration: none;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submit-button:hover {
    background-color: #ffb83b;
}
