<div>
    <hif-navbar></hif-navbar>
</div>
<div>
    <hif-vertical-navbar></hif-vertical-navbar>
</div>
<div class="container" *ngIf="group | async as group">
    <h2>{{group.groupName}}</h2>
    <button id="subscribe" [disabled]="hasSubscribed()" class="subscribe-button" (click)="subscribeToGroup()">
        Subscribe
    </button>
    <button id="unsubscribe" [disabled]="!hasSubscribed()" class="subscribe-button" (click)="unsubscribeFromGroup()">
        Unsubscribe
    </button>
    <div class="threads">
        <h3>Threads</h3>
        <ul class="threads">
            <li *ngFor="let thread of threads | async"
                [class.selected]="thread === selectedThread"
                (click)="onSelect(thread)">
                <span class="badge">{{thread.index}} </span> {{thread.title}}
            </li>
        </ul>
    </div>
</div>
<div class="new-thread">
    <label> Thread Title:
        <input #threadTitle class="title-input">
    </label>
    <br>
    <label>Thread Body:
        <textarea #threadContent class="content-textbox"></textarea>
    </label>
    <div>
        <br>
        <button routerLink="/dashboard" class="back-button">Back</button>
        <button class="create-button"
                (click)="addThread(threadContent.value, 'Alex', '', 'randomTIDASD', threadTitle.value, '3'); threadTitle.value=''; threadContent.value=''">
            Create
            Thread
        </button>
    </div>
</div>
