<div>
  <hif-navbar></hif-navbar>
</div>
<div class="container">
  <div class="row">
    <label>Username: mprouty6</label>
  </div>
  <div class="row">
    <label>Height: 66 inches</label>
  </div>
  <div class="row">
    <label>Weight: 110 pounds</label>
  </div>
  <div class="row">
    <label>Blood pressure: 120/80</label>
  </div>
  <div class="row">
    <label>Smoke: No</label>
  </div>
  <div class="row">
    <label>Alcohol: No</label>
  </div>
  <div class="row">
    <label>Medical Conditions: Parkinson's Disease</label>
  </div>
  <div class="row">
    <label>Alternative Therapies: Yoga</label>
  </div>
</div>
