<div>
    <hif-navbar></hif-navbar>
</div>
<div>
    <hif-vertical-navbar></hif-vertical-navbar>
</div>
<div class="container">

    <button type="submit" (click)="goToHealthSurvey()" class="submit-button">Post new Health Report</button>

    <div class="row">
        <label>Most Recent Health Report for: </label>
        <div class="field">
            <label id="username"></label>
        </div>
    </div>
    <div class="row">
        <label>Date Recorded: </label>
        <div class="field">
            <label id="date"></label>
        </div>
    </div>
    <div class="row">
        <label>Height: </label>
        <div class="field">
            <label id="height"></label>
        </div>
    </div>
    <div class="row">
        <label>Weight: </label>
        <div class="field">
            <label id="weight"></label>
        </div>
    </div>
    <div class="row">
        <label>Blood pressure: </label>
        <div class="field">
            <label id="bp"></label>
        </div>
    </div>
    <div class="row">
        <label>Smoke: </label>
        <div class="field">
            <label id="smoke"></label>
        </div>
    </div>
    <div class="row">
        <label>Alcohol: </label>
        <div class="field">
            <label id="alcohol"></label>
        </div>
    </div>
    <div class="row">
        <label>Medical Conditions: </label>
        <div class="field">
            <label id="mc"></label>
        </div>
    </div>
    <div class="row">
        <label>Alternative Therapies: </label>
        <div class="field">
            <label id="at"></label>
        </div>
    </div>
</div>
