.search {
    display: inline;
}

.searchText {
    font-size: 20px;
    margin-bottom: 3px;
}

.survey-div {
    padding: 0px 10px 10px 10px;
    width: 85%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px
}

.survey {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    /*width: 15em;*/
}

.survey .text {
    margin-left: 100px;
}

.survey li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #c4ebff;
    margin: .5em;
    padding: .3em 0;
    height: 5em;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    width: 85%;
}

.survey li.selected:hover {
    background-color: #585858;
    color: white;
}

.survey li.selected:hover {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.survey li:hover {
    color: black;
    background-color: #ffd791;
}

.survey li:hover {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.survey .text {
    margin-left: 10px;
}

.survey .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.1em 0.1em 0.1em 0.1em;
    background-color: #1c73a1;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -1px;
    height: 1.5em;
    margin-right: .8em;
    border-radius: 0 0 0 0;
}

.survey .counter {
    float: right;
    margin-right: .5em;
}

/* Add padding to containers */
.container {
    margin-top: 200px;
    padding: 16px;
}

/* Full-width input fields */
input[type=text] {
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    font-size: 1em;
}

input[type=checkbox] {
    display: inline;
    padding: 15px;
    margin: 10px 0 10px 0;
}

.tags {
    display: block;
}

.submit-button:hover {
    opacity: 1;
}

.submit-button {
    font-size: 20px;
    font-family: inherit;
    padding: 10px 10px;
    width: 15%;
    margin-top: 15px;
    color: white;
    background-color: #1c73a1;
    text-decoration: none;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submit-button:hover {
    background-color: #ffb83b;
}

.how-to {
    width: 40%;
    margin: 5px;
    display: block;
    font: italic 12px Arial;
}

