/* Add padding to containers */
.container {
  padding: 16px;
}

.survey-div {
  border:1px solid black;
  padding: 0px 10px 10px 10px;
  width: 85%;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px
}

.survey {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /*width: 15em;*/
}

.survey li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.survey li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.survey li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.survey .text {
  position: relative;
  left: -1px;
  top: -1px;
}

.survey .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.1em 0.1em 0.1em 0.1em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -1px;
  height: 1.5em;
  margin-right: .8em;
  border-radius: 0 0 0 0;
}

/* Full-width input fields */
input[type=text] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  font-size: 1em;
}

input[type=text]:focus {
  background-color: #ddd;
  font-size: 1em;
}

input[type=checkbox] {
  display: inline;
  padding: 15px;
  margin: 10px 0 10px 0;
}

.tags {
  display: block;
}


.submit-button:hover {
  opacity:1;
}


.row {
}

.submit-button {
  color: #336699;
  height: 40px;
  width: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.how-to {
  width: 40%;
  margin: 5px;
  display: block;
  font: italic 12px Arial;
}

