<div>
    <hif-vertical-navbar></hif-vertical-navbar>
</div>
<div class="content">
    <div>
        <h2>User Dashboard</h2>
    </div>
    <!--<div>-->
    <!--<ul class="recentThreads">-->
    <!--<li *ngFor="let thread of threads | async"-->
    <!--[class.selected]="thread === selectedThread"-->
    <!--(click)="onSelect(thread)">-->
    <!--<span class="badge"></span> {{thread.title}}-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="section">
        <h2>Recently Viewed Threads</h2>
        <ul class="content-list">
            <li *ngFor="let thread of threads | async"
                [class.selected]="thread === selectedThread"
                (click)="onSelect(thread)"><span class="badge"></span><span class="spanTitle">{{thread.title}}</span>
            </li>
        </ul>
    </div>
</div>
